@inherits LayoutComponentBase
@using TripFund.App.Components.Common

<div class="page">
    <div class="status-bar-safe-area"></div>
    <main>
        @Body
    </main>
    <VibeAlert />
</div>
